<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	{{> header}}
	<a href="/">Main</a>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id dignissimos facere, labore praesentium dolorem cumque iure error. Minus, nobis veniam.</p>
	{{> footer}}
</body> 
</html>